.friendList {
  margin-top: 50px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.friendItem {
  min-width: 285px;
  padding: 5px 10px;
  outline: 2px dashed rgb(169, 205, 50);
  display: flex;
  gap: 10px;
  align-items: center;
}

.friendName {
  display: inline-block;
}

/* .friend {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
} */

.friendOnline {
  /* composes: friend; */
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(0, 128, 0);
}
.friendOffline {
  /* composes: friend; */
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(179, 0, 0);
}

.friendName {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #342e2e;
}
